<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0baiAIGtg32Z3Zh2TsQTgtV6vRXc5uHU</string>
	<key>GCM_SENDER_ID</key>
	<string>291032520443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exerciseCompanion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>exercise-companion-uhm</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise-companion-uhm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291032520443:ios:447c34e3b6c835bd9cc25e</string>
</dict>
</plist>